<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted" hook="character-name">{{character.name}}</h6>

    <div class="row">
      <div class="col-sm-2">Gender:</div>
      <div class="col-sm-10" hook="gender">
        {{character.gender}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Birth year:</div>
      <div class="col-sm-10" hook="birth-year">
        {{character.birth_year}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Eye color:</div>
      <div class="col-sm-10" hook="eye-color">
        {{character.eye_color}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Skin color:</div>
      <div class="col-sm-10" hook="skin-color">
        {{character.skin_color}}
      </div>
    </div>
  </div>
</div>
